USE [master]
GO
/****** Object:  Database [8escalonesmsql]    Script Date: 13/11/2024 20:16:36 ******/
CREATE DATABASE [8escalonesmsql]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'8escalonesmsql', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\8escalonesmsql.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'8escalonesmsql_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\8escalonesmsql_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [8escalonesmsql].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [8escalonesmsql]
GO
/****** Object:  User [8escalones]    Script Date: 13/11/2024 20:16:36 ******/
CREATE USER [8escalones] FOR LOGIN [8escalones] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[administradores]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[administradores](
	[id_administrador] [int] IDENTITY(1,1) NOT NULL,
	[nombre_administrador] [varchar](50) NULL,
	[contraseña_admin] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre_categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_categorias] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dificultades]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dificultades](
	[id_dificultad] [int] NOT NULL,
	[nombre_dificultad] [varchar](20) NULL,
 CONSTRAINT [PK_dificultades] PRIMARY KEY CLUSTERED 
(
	[id_dificultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[escalones]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[escalones](
	[nro_escalon] [int] NOT NULL,
	[id_partida] [int] NOT NULL,
	[id_categoria] [int] NULL,
 CONSTRAINT [PK_escalones] PRIMARY KEY CLUSTERED 
(
	[nro_escalon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[opciones]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[opciones](
	[id_pregunta] [int] NOT NULL,
	[nro_opcion] [int] NOT NULL,
	[desarrollo_opcion] [varchar](50) NULL,
	[es_correcta] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pregunta] ASC,
	[nro_opcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[participaciones]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[participaciones](
	[id_partida] [int] NOT NULL,
	[id_participante] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_partida] ASC,
	[id_participante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[participantes]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[participantes](
	[id_participante] [int] IDENTITY(1,1) NOT NULL,
	[nombre_participante] [varchar](50) NULL,
	[referencia_foto] [varchar](100) NULL,
 CONSTRAINT [PK_participante] PRIMARY KEY CLUSTERED 
(
	[id_participante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[partidas]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partidas](
	[id_partida] [int] IDENTITY(1,1) NOT NULL,
	[id_ganador] [int] NULL,
 CONSTRAINT [PK_partida] PRIMARY KEY CLUSTERED 
(
	[id_partida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[preguntas]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[preguntas](
	[id_pregunta] [int] IDENTITY(1,1) NOT NULL,
	[desarrollo_pregunta] [varchar](50) NULL,
	[id_categoria] [int] NULL,
	[id_dificultad] [int] NULL,
 CONSTRAINT [PK_preguntas] PRIMARY KEY CLUSTERED 
(
	[id_pregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[preguntas_aproximacion]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[preguntas_aproximacion](
	[id_pregunta_aprox] [int] IDENTITY(1,1) NOT NULL,
	[desarrollo_pregunta] [varchar](50) NOT NULL,
	[rta_correcta] [int] NULL,
	[id_categoria] [int] NULL,
	[id_dificultad] [int] NULL,
 CONSTRAINT [PK_preguntas_aproximacion] PRIMARY KEY CLUSTERED 
(
	[id_pregunta_aprox] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[categorias] ON 

INSERT [dbo].[categorias] ([id_categoria], [nombre_categoria]) VALUES (1, N'Deportes')
INSERT [dbo].[categorias] ([id_categoria], [nombre_categoria]) VALUES (2, N'Cultura General')
INSERT [dbo].[categorias] ([id_categoria], [nombre_categoria]) VALUES (3, N'Cine y Televisión')
SET IDENTITY_INSERT [dbo].[categorias] OFF
INSERT [dbo].[dificultades] ([id_dificultad], [nombre_dificultad]) VALUES (1, N'Normal')
INSERT [dbo].[dificultades] ([id_dificultad], [nombre_dificultad]) VALUES (2, N'Dificil')
SET IDENTITY_INSERT [dbo].[participantes] ON 

INSERT [dbo].[participantes] ([id_participante], [nombre_participante], [referencia_foto]) VALUES (1, N'CHANCLETA', NULL)
INSERT [dbo].[participantes] ([id_participante], [nombre_participante], [referencia_foto]) VALUES (2, N'PEPELORE', NULL)
INSERT [dbo].[participantes] ([id_participante], [nombre_participante], [referencia_foto]) VALUES (3, N'hola123', NULL)
SET IDENTITY_INSERT [dbo].[participantes] OFF
SET IDENTITY_INSERT [dbo].[partidas] ON 

INSERT [dbo].[partidas] ([id_partida], [id_ganador]) VALUES (1, NULL)
INSERT [dbo].[partidas] ([id_partida], [id_ganador]) VALUES (2, NULL)
SET IDENTITY_INSERT [dbo].[partidas] OFF
ALTER TABLE [dbo].[escalones]  WITH CHECK ADD  CONSTRAINT [FK_escalones_categorias] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[escalones] CHECK CONSTRAINT [FK_escalones_categorias]
GO
ALTER TABLE [dbo].[escalones]  WITH CHECK ADD  CONSTRAINT [FK_escalones_partidas] FOREIGN KEY([id_partida])
REFERENCES [dbo].[partidas] ([id_partida])
GO
ALTER TABLE [dbo].[escalones] CHECK CONSTRAINT [FK_escalones_partidas]
GO
ALTER TABLE [dbo].[opciones]  WITH CHECK ADD FOREIGN KEY([id_pregunta])
REFERENCES [dbo].[preguntas] ([id_pregunta])
GO
ALTER TABLE [dbo].[participaciones]  WITH CHECK ADD FOREIGN KEY([id_partida])
REFERENCES [dbo].[partidas] ([id_partida])
GO
ALTER TABLE [dbo].[participaciones]  WITH CHECK ADD FOREIGN KEY([id_participante])
REFERENCES [dbo].[participantes] ([id_participante])
GO
ALTER TABLE [dbo].[partidas]  WITH CHECK ADD  CONSTRAINT [FK_partidas_participante_ganador] FOREIGN KEY([id_ganador])
REFERENCES [dbo].[participantes] ([id_participante])
GO
ALTER TABLE [dbo].[partidas] CHECK CONSTRAINT [FK_partidas_participante_ganador]
GO
ALTER TABLE [dbo].[preguntas]  WITH CHECK ADD  CONSTRAINT [FK_preguntas_categorias] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[preguntas] CHECK CONSTRAINT [FK_preguntas_categorias]
GO
ALTER TABLE [dbo].[preguntas]  WITH CHECK ADD  CONSTRAINT [FK_preguntas_dificultades] FOREIGN KEY([id_dificultad])
REFERENCES [dbo].[dificultades] ([id_dificultad])
GO
ALTER TABLE [dbo].[preguntas] CHECK CONSTRAINT [FK_preguntas_dificultades]
GO
ALTER TABLE [dbo].[preguntas_aproximacion]  WITH CHECK ADD  CONSTRAINT [FK_preguntas_aproximacion_categorias] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[preguntas_aproximacion] CHECK CONSTRAINT [FK_preguntas_aproximacion_categorias]
GO
ALTER TABLE [dbo].[preguntas_aproximacion]  WITH CHECK ADD  CONSTRAINT [FK_preguntas_aproximacion_dificultades] FOREIGN KEY([id_dificultad])
REFERENCES [dbo].[dificultades] ([id_dificultad])
GO
ALTER TABLE [dbo].[preguntas_aproximacion] CHECK CONSTRAINT [FK_preguntas_aproximacion_dificultades]
GO
/****** Object:  StoredProcedure [dbo].[crear_partida]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[crear_partida]
as
begin
	insert into partidas (id_ganador) values (null)
end
GO
/****** Object:  StoredProcedure [dbo].[insertar_categoria]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertar_categoria] (@nombre varchar(50))
as
begin
	insert into categorias (nombre_categoria) values (@nombre)
end;
GO
/****** Object:  StoredProcedure [dbo].[insertar_jugador]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertar_jugador] (@nombre varchar(50))
as
begin
	insert into participantes (nombre_participante) values (@nombre)
end;
GO
/****** Object:  StoredProcedure [dbo].[selec_todo_participante]    Script Date: 13/11/2024 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[selec_todo_participante]
as
begin
select * from participantes
end
GO
USE [master]
GO
